/* Error: @content is only allowed within mixin declarations.
 *    ,
 * 26 |  @content
 *    |  ^^^^^^^^
 *    '
 *   sass\_utilities.sass 26:2  @import
 *   sass\styles.sass 2:9       root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: @content is only allowed within mixin declarations.\a    \2577 \a 26 \2502   @content\d\a    \2502   ^^^^^^^^\a    \2575 \a   sass\\_utilities.sass 26:2  @import\a   sass\\styles.sass 2:9       root stylesheet";
}
